{% extends "core/base.html" %}
{% load static %}

{% block content %}
<style>
    .describe-topic{
        padding-left: 3rem;
        padding-right: 3rem;
        background-color: aliceblue ;
    }
    #msg{
        color: green;
    }
</style>
<div class="container">
    <div class="success">
        {% for message in messages %}
    <p id="msg">{{message}}</p> 
        {% endfor %}
</div>
</div>

<section id="subscription">
    <div class="container subscribe">
        <p>Souscrivez a un essaie gratuit d'un mois</p>

        <form class="form" method="post">

            {% csrf_token %}
            <input id="free-em" type="email" name="email" placeholder="Votre email"><br>
            <select name="topic">
                <option value="recettes">Recettes et patisseries</option>
                <option value="ecommerce">Aide et Conseil E-commerce</option>
                <option value="divertissement">Divertissement</option>
                <option value="coaching">Coaching et développement personnel</option>
            </select>
            <button type="submit" class="subscribe-btn">SOUSCRIRE</button>
        </form>
        
    
    </div>
</section>
<section id="topics">
    <div class="container">
         <h2>Nos sujets</h2>
         <ol>
            <li class="describe-topic">
                <!-- <box-icon type='solid' name='bowl-hot'></box-icon> -->
                <h4>Recettes Africaines et de patisseries adaptées a differents évenement</h4>
                <p><em> Recevez chaque semaine des recettes authentiques, savoureuses et faciles à réaliser, directement dans votre boîte mail. Des plats traditionnels aux délices modernes, vous trouverez une variété de recettes africaines telles que le poulet Moyo, Le Moussaka, Ndolé, l'alloco et bien d'autres. Decouvrez également comment réealiser vos propres patisseries fait maison(croissant,pain,muffin etc) </em>  
                </p>
            </li>
            <li class="describe-topic">
                <h4>Conseil et accompagnement pour vous lancer dans le e-commerce</h4>
                <p>Grâce à des sessions personnalisées, nous vous guiderons pour développer des compétences essentielles telles que la gestion du stress, l'établissement d'objectifs clairs et l'amélioration de votre mentalité. Vous apprendrez à maîtriser vos émotions, à prendre des décisions éclairées et à créer des relations harmonieuses tant sur le plan personnel que professionnel.
                </p>
                <!-- <span style="font-size: 15pt; font-weight: 500;">600,000XAF</span> -->
            </li>
            <li class="describe-topic">
                <h4>Divertissement: histoire drole,blague,romance,aventure</h4>
                <p>Que vous ayez besoin d'une pause bien méritée ou simplement envie de partager des moments hilarants avec vos proches, notre newsletter est là pour vous divertir.<br>
                Rejoignez-nous dès maintenant et soyez prêt à créer un univers rempli de rires et de bonne humeur. Ne manquez pas l'opportunité de faire partie de notre communauté de joyeux plaisantins !
                </p>
            </li>
            <li class="describe-topic">
                <h4>Coaching: développement personnel</h4>
                <p>Vous avez toujours rêvé de lancer votre propre boutique en ligne, mais vous ne savez pas par où commencer ? Ne vous inquiétez pas, notre newsletter est là pour vous guider pas à pas vers le succès ! Inscrivez-vous dès maintenant et recevez notre guide exclusif pour réussir en e-commerce. Des conseils pratiques, des stratégies éprouvées et des astuces indispensables vous attendent pour booster votre activité en ligne.
                </p>
            </li>
         </ol>
    </div>
   

</section>
<section id="info">
    <div class="container">
         <h2>Comment ça marche?</h2>
         <ol>
            <li>Entrez votre adress Email pour vous inscrire a la newsletter</li>
            <li>Choisissez un sujet et appuyez sur <a href="#subscription">Souscrire</a> pour commencer un essaie gratuit.</li>
            <li>Vous allez commencer a recevoir votre contenu personalisé de manière hebdomadaire dans votre boite mail</li>
            <li>pas de pub ni de contenu derisoire ne vous serons envoyé.</li>
         </ol>
    </div>
   

</section>

{% endblock content %}