{% extends "core/base.html" %}

{% block content %}
<div class="container" id="pop-up-form">
    <form  method="post" action="{% url 'core:pricing' %}">
        {% csrf_token %}
        <div class="form pop-up" >
            <i id="quit" class="fa fa-remove"></i>
            <input style="width: 100%;" type="email" name="email" placeholder="Confirmez votre email">
            <input id="sub_id" type="hidden" name="sub_id">   
         <button class="subscribe-btn" id="confirm-btn" type="submit" value="1">Confirmer</button>
        </div>
         
    </div>
    </form>
    
</div>
<section id="pricing">
    <div class="price-container">
        
        <div>
            <h4 class="price-head">Par Mois</h4>
            <p>Ofrre Standard</p>
            <h3 style="color: blueviolet;">1000 XAF</h3>
            <ul>
                <li>Un sujet</li>
                <li>validité d'un mois</li>
                <li>3 email par semaine.</li>
                <li>Pas de pubs</li>
                <li>Contenu exclusif</li>
            </ul>
            
            <button style="border: 2px solid blueviolet;" class="subscribe-btn pay-btn" value="1">Souscrire</button>

        </div>
        <div>
            <h4 class="price-head yearly">Par An</h4>
            <p>Ofrre Standard</p>
            <h3 style="color: gold;">10000 XAF</h3>
            <ul>
                <li>Un sujet</li>
                <li>validité d'un  an</li>
                <li>3 email par semaine.</li>
                <li>Pas de pubs</li>
                <li>Contenu exclusif</li>
            </ul>
            <button style="border: 2px solid gold;" value="2" class="subscribe-btn pay-btn">Souscrire</button>

        </div>
        <div>
            <h4 class="price-head">Par Mois</h4>
            <p>Offre Or</p>
            <h3 style="color: blueviolet;">3,300 XAF</h3>
            <ul>
                <li>Tout les sujets</li>
                <li>validité d'un mois</li>
                <li>3 email par semaine.</li>
                <li>Pas de pubs</li>
                <li>Contenu exclusif</li>
            </ul>
            <button style="border: 2px solid blueviolet;" value="3" class="subscribe-btn pay-btn">Souscrire</button>

        </div>
        <div>
            <h4 class="price-head yearly">Par An</h4>
            <p>Offre Or</p>
            <h3 style="color: gold;">33000 XAF</h3>
            <ul>
                <li>Tout les sujets</li>
                <li>validité d'un an</li>
                <li>3 email par semaine.</li>
                <li>Pas de pubs</li>
                <li>Contenu exclusif</li>
            </ul>
            <button style="border: 2px solid gold;" value="4" class="subscribe-btn pay-btn">Souscrire</button>

        </div>
        <div>
            <h4 class="price-head custom">Customisé</h4>
            <p>Offre Aqua personalisable</p>
            <h3 style="color: aqua;">1000 XAF par sujet</h3>
            
                <li>Choisissez vous meme la validité</li>
                <li>Selectionnez plus d'un sujet</li>
                <li>3 email par semaine.</li>
                <li>Pas de pubs</li>
                <li>Contenu exclusif</li>           
            
            <button style="border: 2px solid aqua;" value="5" class="subscribe-btn pay-btn">Souscrire</button>

        </div>
        

    </div>

</section>
<!-- <input type="color"> -->
{% endblock content %}